html, body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    background-color: #fbfaf8;
}

.container {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-justify-content-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color: #444444;
    text-transform: uppercase;
}

.box-128 {
    flex-basis: 128px;
    height: 128px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;

}

.box-128:hover {
    transition-duration: 0.3s;
    transition-property: background-color;
    background-color: rgba(113, 113, 118, 0.35);
    color: rgba(12, 5, 5, 0.11);
}

.label-input-text {
    flex-basis: 200px;
}

.logout-button {
    border: none;
    background-color:transparent;
    font-size: inherit;
    text-transform: uppercase;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
    color: black;
}

.bottom-box {
    padding-top: 30px;
    background-color: rgba(221, 230, 173, 0.4);
}

.bottom-box:hover {
    transition-duration: 0.3s;
    transition-property: background-color;
    background-color: #e6e0ff;
    color: rgba(255, 255, 255, 0.67);
}